/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2015, 6:49:08 PM
    Author     : Robert Cuprik <robertcuprik@hotmail.com>
*/

html,body{
    
    height: 100%;
    
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}



.nav > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.navbar-nav > li > span {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-nav > li > span {
    padding-top: 15px;
    padding-bottom: 15px;
}

#main-menu{
    
    margin-top: 10px;
    
}
table tr td{
    
    padding: 3px;
    text-align: center;
    
}

table tr th{
    
    padding: 3px;
    text-align: center;
    
}
.wrapper {
    
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
    
}

footer, .push{    
    
    height: 80px;
    
}

footer{
    
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 20px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    
}