<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">
 
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/teacher**" access="hasRole('ROLE_TEACHER')" />
        <intercept-url pattern="/student**" access="hasRole('ROLE_STUDENT')" />
        <form-login 
            login-page="/user-login" 
            default-target-url="/role_resolve" 
            authentication-failure-url="/login-error" 
            username-parameter="j_username"
            password-parameter="j_password" />
        <logout logout-success-url="/" />
        <!-- enable csrf protection -->
        <csrf/>
    </http>
 
    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailsService">
            <password-encoder hash="plaintext">
            </password-encoder>
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="UserDetailsService" class="model.service.VavaUserDetailService">   
    </beans:bean>    
 
</beans:beans>